body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  padding:10px;
  background-color: firebrick;
  color:#fff;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
}
.header h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.location-icon {
  font-size: 2rem;
  color:red;
  cursor: pointer;
}

.location-info {
  position: absolute;
  top:80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding:20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 18px;
  color:#fff
}

.location-info ul {
  list-style-type: none;
  padding:0;
}

.location-info ul li {
  margin-bottom: 10px;
}

.closeBtn {
  position: absolute;
  top:20px;
  right:20px;
  margin: 0;
  cursor: pointer;
}
.gm-style button {
  top:50px !important
}
