body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  padding:10px;
  background-color: firebrick;
  color:#fff;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
}
.header h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 100;
}
.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.location-icon {
  font-size: 2rem;
  cursor: pointer;
}

.location-icon.storm {
  color:white
}

.location-icon.fire {
  color:red;
}

.location-icon.ice {
  color:cyan;
}

.location-info {
  position: absolute;
  top:80px;
  right: 50px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f5f5f5;
  color: #555;
  font-size: 22px;
  width: 500px;
  height: 320px;
  border: 1px solid #dedede;
}
.location-info h2 {
  font-size: 24px;
  border-bottom: 1px dotted #ccc;
  margin:0;
  padding:22px 0;
}

.location-info ul {
  list-style-type: none;
  padding:0;
  margin: 0;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 320px;
  margin: 0 20px 0 40px;
}


.location-info ul li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  height: auto;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 18px;
}

.location-info ul li span {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.closeBtn {
  position: absolute;
  top:20px;
  right:20px;
  margin: 0;
  cursor: pointer;
}
button.gm-fullscreen-control {
  top:50px !important
}
.selectBox {
  position: absolute;
  top:60px;
  left:15px;
  background-color: #f5f5f5;
  width: 220px;
  height: 200px;
  z-index: 999;
  border-radius: 10px;
  padding:15px;
}
.selectBox .count {
  width:30px;
  text-align: center;
}